<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин цветов</title>
</head>
<body>
    <h1>Добро пожаловать в Магазин цветов!</h1>
    <ul>
        <li>    
            <a href="/flowers">Каталог цветов</a>
        </li>
        <li>    
            <a href="/profile">Профиль</a>
        </li>
        <li>    
            <a href="/cart/items">Корзина</a>
        </li>
    </ul>
</body>
</html>